@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

html, body{
	font-family: 'Poppins', sans-serif;
	height: 100%;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*------------------------------------ PALETA DE CORES-------------------------- */
:root{
	/* HELPERS */
	--danger: #FF6857;
	--success: #3BB77B ;
	--info:#F9976A;

	/* LIGHT THEME */
	--bg-light: #f5f5f7;
	--light-primary: #191C2D;
	--light-secondary:#32385A;
	--light-disable: #ABBAD8;

	/* DARK THEME */
	--bg-dark: #191C2D;
	--dark-primary: #ffffff;
	--dark-secondary: #ffffff75;
	--dark-disable: #ffffff50;
}
.max-width{
	padding:  0 1rem;
	min-height: 100%;
}
/*-------------------------------------BACKGROUNDS-------------------------------- */

/* DARK THEME */
.bg-dark-primary{
	background-color: var(--light-primary);
}

.bg-dark-secondary{
	background-color: var(--light-secondary);
}
.bg-dark-disable{
	background-color: var(--light-disable);
}

/*------------------------------------ CORES DE TEXTOS-------------------------  */
/* TEXTO PARA TEMA LIGHT COM LETRAS ESCURAS */
.txt-lp{
	color: var(--light-primary);
}
.txt-ls{
	color: var(--light-secondary);
}
.txt-ld{
	color: var(--light-disable);
}
/* TEXTO PARA TEMA DARK COM LETRAS CLARAS */
.txt-dp{
	color: var(--dark-primary);
}
.txt-ds{
	color: var(--dark-secondary);
}
.txt-dd{
	color: var(--dark-disable);
}
/* TEXTO HELPERS */
.txt-danger{
	color: var(--danger);
}
.txt-success{
	color: var(--success);
}
.txt-info{
	color: var(--info);
}
/* TEXTOS HEADERS */
.headline-bold{
	font-weight: 600;
	font-size: 1.5rem;
	margin: .5rem 0;
}
.headline-light{
	font-weight: 300;
	font-size:1.5rem;
	margin: .5rem 0;
}
.title{
	font-weight: 600;
	font-size: 1.2rem;
}
.title-2{
	font-weight: 600;
	font-size: 1.1rem;
}
.body{
	font-weight: 300;
	font-size: 16pt;
}
.body-2{
	font-weight: 300;
	font-size: 12pt;
}
.caption{
	font-weight: 300;
	font-size: 11pt;
}

/* HEADER */
.cart{
	padding-top: 3rem;
}
.cart .btn-floating {
	height: 3rem;
	width:3rem;
}
.cart .btn-floating i{
	font-size: 2.5rem;
	color: var(--light-primary);
}
.hello{
	letter-spacing: 3px;
}
.search{
	padding-top: 1rem;
}
.search .ib-search{
	width: 100%;
	min-height: 3.5rem!important;
	padding:2rem;
	border-radius: 50px!important;
	background-color: var(--bg-light)!important;
}
.search input[type="search"].ib-search  {
	-webkit-appearance: searchfield;
	box-sizing: border-box;
	padding: 1px 2px;
	font-size: 1.8rem!important;
	color: var(--light-secondary);
	padding-left: 4rem;
	border-bottom: none!important;
}
.search i {
	font-size: 3rem;
	position: absolute;
	margin-top: .5rem;
	margin-left: 1rem;
}
/* CATEGORIAS */
.categorias{
/* 	padding-top: 1rem;
 */}
.cat-img{
	background-color: var(--light-primary);
	border-radius: 12px;
	margin-top:1rem;
}
.cat-container{
	
}
.mais-pedidos{
	/* padding: 1rem; */
}
.box-card{
	border-radius: 30px;
}
.card,
.card-image,
.card-image img{
	border-top-left-radius: 10px!important;
	border-top-right-radius: 10px!important;
}
.card,
.card-action{
	border-bottom-left-radius: 10px!important;
	border-bottom-right-radius: 10px!important;
	background-color: var(--light-primary);
	color:var(--dark-primary);
}
.card-content{
	padding: 0 4px!important;
}
.card-content h3{
	margin-top: 6px;
}
footer{
	position: absolute;
	left: 0;
	bottom: 0;
}
.footer{
	background-color: var(--light-primary);
	width: 100%;
	min-height: 55px;
}
.footer i{
	color: var(--dark-primary);
	padding: 1.2rem;
	font-size: 3.2rem;
}
.footer i.active{
	color: var(--danger);
}

